
.calendar-section {
  background: var(--primary-color);
  padding: 2em;
  margin-top: 1em;
  color: #fff;
}
.calendar-section h2 {
  color: #FBC926 ;
}
input {
  max-width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
}
.from {
  margin-right: 0.7em;
}
