input[type="radio"] {
  visibility:hidden;
  display:none;
}

.btn-group .btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  opacity:0.5;
  border:0;
}
.btn-group .btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  opacity:0.8;
}

.btn-group .btn-primary.active {
  opacity:1;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#listButton:before {
  content: '\f009';
  font-family: var(--icon-font);
  margin-right:0.5em;
}

#mapButton:before {
  content: '\f0ac';
  font-family: var(--icon-font);
  margin-right:0.5em;
}