body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-align: center;
}
h1{
  margin-top:2em;
}
h1,h2,h3 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: #375D4C;
  
}

.calendar-section {
  background: #375D4C;
  padding: 2em;
  margin-top: 1em;
}
.calendar-section h2 {
  color: #FBC926 ;
}
.event-card {
  display: inline-block;
  width: 30%;
  border: solid 3px #FBC926;
  background: #fff;
  border-radius: 10px;
  padding: 1em;
  margin: 1em 2em;
  transition: background 0.5s ease-in-out;
}
.event-card:hover {
  background: #FBC926;
}